.PlayerItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.PlayerItem-quantity {
  font-size: 2em;
}

.PlayerItem-points {
  min-width: 56px;
  font-size: 2em;
  font-weight: bold;
  text-align: end;
}
