.App {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-y: hidden;

  --primary-color: #282c34;
  --secondary-color: lightgrey;
  --primary-text-color: white;
}
